*{
  margin: 0;
  box-sizing: border-box;
}

:root{
  --bradius: 5px;
  --mainCol: #febd69;
}

input[type="text"]{
  border: none;
  outline: none;
}

button{
  border: none;
}

button:active{
  opacity: 0.9;
}


::-webkit-scrollbar{
  width: 6px;
}

::-webkit-scrollbar-thumb{
  background-color: rgba(82, 82, 82, 0.7);
  border-radius: 10px;
}